---
import Section from "@/components/Section.astro"
---

<Section>
     <section id="about" class="about-section">
          <h2>About me</h2>
          <div class="about-container">    
               <div class="img-container">             
                    <figure class="personal-img">
                         <img src="/img/fran_avatar.svg" alt="">
                    </figure>
               </div>
               <div class="text-container">
                    <h3>Hi! My name is Fran Pazos</h3>
                    <p>I am a dedicated tech enthusiast with a passion for programming, video games, and dogs. With extensive leadership experience and a collaborative spirit, I excel both as a leader and a team player. My greatest strength lies in my problem-solving abilities, and I have a proven capacity to learn and adapt quickly.</p>
                    <p>I graduated from <span class="highlight">Ironhack</span> technology school in Madrid, specializing in Web Development, where I was ranked at the top of my class and awarded the prestigious <span class="highlight">Hackshow Award</span> for the best final project.</p>
                    <p>In addition, I hold a degree in Information Science from <span class="highlight">Universidad Complutense de Madrid</span> and an International Baccalaureate diploma.</p>
                    <p>At the age of 25, I founded a successful business, honing my leadership and problem-solving skills while overcoming the challenges posed by a global pandemic. This venture continues to thrive today.</p>
                    <p>Currently, I work from Madrid as a full-stack <span class="highlight">Software Engineer at Mediaquery</span>, a Miami based company.</p>
               </div>     
          </div> 
          <div class="cv-container">
               <a href="/public/Assets/FranPazosCV.pdf" target="_blank">Download CV</a>
          </div>
     </section>
</Section>


<style>
     .about-section{   
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 50px 30px;  
          margin-top: 10%;
          background-color: #13151a;
     }

     .about-container{
          display: flex;
          flex-direction: column;
          color: #fff;
          gap: 25px;
     }

     .img-container{
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 25px;
     }

     .personal-img{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: auto;
          width: 200px;
          height: 200px;  
          position: relative;
          z-index: 1;  
     }

     .personal-img::before {
          content: '';
          position: absolute;
          top: 101px;
          left: 99px;
          width: 110%;
          height: 110%;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top: 3px solid #eb6904; /* Color del borde superior para el gradiente */
          border-right: 3px solid #2B86C5; /* Color del borde derecho para el gradiente */
          border-bottom: 3px solid #784BA0; /* Color del borde inferior para el gradiente */
          box-sizing: border-box;
          transform: translate(-50%, -50%);
          animation: spin 2s linear infinite;
          z-index: 0;  
     }
 
     .personal-img img{
          width: 100%;
          height: auto;
          border-radius: 100%;
          position: relative;
          z-index: 1;  
     }

     h2{
        font-size: 2.5rem;
        padding: 20px 0 10px 0;
        display: inline-block;
        position: relative;
        color: #fff;
        margin: 30px 0;     
     }

     h2::before {
        content: '';
        position: absolute;
        bottom: 0.80px; 
        left: 0;
        width: 20%; 
        border-bottom: 4px solid #eb6904; 
        white-space: nowrap; 
     }

     h3{
          font-size: 1.3rem;
          text-align: center;
          color: #eb6904;
     }

     p{
          font-size: 1rem;
          line-height: 1.6;        
          text-align: center;
     }
    
     .highlight{
          color: #eb6904;
          font-weight: 400;
     }

     .cv-container{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px 0 0 0;
     }

     .cv-container p{
          color: #ffffff;
          text-align: center;
     }

 
     .cv-container a{
          width: 150px;
          text-align: center;
          color: #13151a;
          font-weight: 800;
          text-decoration: none;
          background-color: #eb6904;
          padding: 15px;
          border-radius: 20px;
          cursor: pointer;
          box-shadow: rgba(138, 137, 137, 0.405) 0px 5px 15px 0px;
          transition: background-color 0.3s ease, transform 0.3s ease, background-image 0.3s ease;
     }
     .cv-container a:hover {
          background-image: linear-gradient(225deg, #eb6904 0%, #784BA0 50%, #2B86C5 100%);
          transform: scale(1.1); 
          color: #ffffff;
     }


     /* // Hide about section when navbar is open */
     body.open .about-container {
     visibility: hidden;
     }

     body.open .about-section {
          display: none;
     }    


     @media(min-width:768px){
          .about-section{
               justify-content: center;
               padding: 50px 80px;
          }

          h2::before {
               width: 5%;           
          }

          .about-container{
               flex-direction: row;
          }

          .text-container{
               width: 50%;
          }

     }

     @media(min-width:1024px){
          .about-section{        
               padding: 50px 90px;
          }    

          .about-container{
               justify-content: space-around;
          }

          .personal-img{
               width: 250px;
               height: 250px;
          }
          .personal-img::before{
               top: 127px;
               left: 125px;
          }

          .text-container{
               display: flex;
               flex-direction: column;
               justify-content: center;
          }

          .text-container h3 , p {
               text-align: left;
          }
          
          .cv-container a{
               padding: 20px;
               width: 180px;
          }

     }

     @keyframes spin {
          0% {
          transform: translate(-50%, -50%) rotate(0deg);
          }
          100% {
          transform: translate(-50%, -50%) rotate(360deg);
          }
     }

</style>