---
import SocialButtons from '../SocialButtons.astro'
---

<script type="text/javascript">
  const toggleMenu = () => {
      document.body.classList.toggle("open");
  };

  const closeMenuOnClick = () => {
      const menuLinks = document.querySelectorAll('.menu a');
      menuLinks.forEach(link => {
          link.addEventListener('click', (event) => {
              document.body.classList.remove("open");

              const href = link.getAttribute('href');
              if (href.startsWith('#')) {
                event.preventDefault();

                // Verifica si ya estamos en la página principal
                if (window.location.pathname !== '/') {
                  window.location.href = `/${href}`;
                } else {
                  // Si ya estamos en la página principal, desplázate al elemento con el id correspondiente
                  const targetElement = document.querySelector(href);
                  if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                  }
                }
              }
          });
      });
  };

  document.addEventListener('DOMContentLoaded', closeMenuOnClick);

  const navigateToHome = (event) => {
    event.preventDefault(); // Previene el comportamiento por defecto del enlace

    // Verifica si ya estamos en la página principal
    if (window.location.pathname !== '/') {
      window.location.href = '/';
    } else {
      // Si ya estamos en la página principal, desplázate al elemento con el id 'hero'
      const heroElement = document.getElementById('hero');
      if (heroElement) {
        heroElement.scrollIntoView({ behavior: 'smooth' });
      }
    }
  };
</script>

<header>
  <button class="navbar-burger" onclick="toggleMenu()"></button>
      <div class="menu">
        <nav>
          <a href="/" style="animation-delay: 0.1s"><img class="icon" src="/icons/icon-home.svg">Home</a>
          <a href="#experience" style="animation-delay: 0.1s"><img class="icon" src="/icons/icon-tools.svg">Experience</a>
          <a href="#technologies" style="animation-delay: 0.3s"><img class="icon" src="/icons/icon-education.svg">Tech</a>
          <a href="#projects" style="animation-delay: 0.2s"><img class="icon" src="/icons/icon-code.svg">Projects</a>
          <a href="#about" style="animation-delay: 0.1s"><img class="icon" src="/icons/icon-user.svg">About</a>
          <a href="#contact" style="animation-delay: 0.5s"><img class="icon" src="/icons/icon-mail.svg">Contact</a>
          <div class="social-buttons">
            <SocialButtons />
          </div>
        </nav>     
      </div>
</header>

  <style>
  button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }
  
  .navbar,
  .navbar-burger,
  .menu {
    position: fixed;
  }
  
  body.open .background {
    filter: blur(10px);
  }
  
  .navbar {
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding-left: 20px;
    padding-right: 72px;
  }
  
  .navbar-burger {
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    background-image: url("/icons/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.768);
    border-radius: 50px;
  }
  
  body.open .navbar-burger {
    background-image: url("/icons/close.svg");
  }
  
  .menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  
  body.open .menu {
    opacity: 1;
    visibility: visible;
  }
  
  .menu nav:hover a {
    opacity: 0.25;
  }
  
  .menu nav a:hover {
    opacity: 1;
  }
  
  .menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 30px;
  }
  
  .menu a {
    display: flex;
    align-items: center;
    position: relative;
    color: #f9f9f9;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    padding: 15px 0;
    width: 300px;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #ebaa04;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: 0.4s;
  }
  
  .menu a:hover::after {
    transform: scaleX(1);
  }
  
  body.open .menu a {
    animation: appear 0.3s backwards;
  }
  
  .icon{
    width: 45px;
    height: 45px;
    padding-right: 10px;
  }

  .social-buttons{
    padding: 5px;
  }

  
  @keyframes appear {
    0% {
      opacity: 0;
      translate: 0 50px;
    }
    100% {
      opacity: 1;
    }
  }

  @media(min-width:768px){
    .navbar-burger{
      width: 70px;
      height: 70px;
    }
  }

  @media(min-width: 1024px) {
  .navbar-burger {
    display: none;
  }

  .menu {
      display: flex;
      position: fixed;
      height: auto;
      visibility: visible;
      width: auto;
      opacity: 1;
      justify-content: center;
      left: 50%;
      transform: translateX(-50%);
      background: rgb(19 21 26 / 35%); /* Fondo ligeramente oscuro con opacidad del 85% */
      backdrop-filter: blur(4px); /* Aumenta un poco el desenfoque */
      -webkit-backdrop-filter: blur(4px);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada para mayor contraste */
      border-radius: 10px; /* Bordes redondeados para un diseño más moderno */
      margin: 30px;
    }

    .menu nav {
      flex-direction: row;
      background: none;
      padding: 0;
    }

    .menu a {
      width: auto;
      color: #ffff;
      padding: 10px 20px;
      font-size: 0.98rem;
    }

    .menu a::after {
      bottom: 3px;
    }

    .icon{
      width: 38px;
      height: 35px;
    }

    .social-buttons {
      display: none;
    }
}
</style>