---
import CardProject from "@/components/CardProject.astro";
import { PROJECTS } from '@/data/projects_detail';
import OtherProject from "@/components/OtherProject.astro";
import { PROJECTSC } from "@/data/projects_colaborate";

const isSingleProject = PROJECTS.length === 1;
---

<section id="projects" class="projects-section">
    <div class="projects-container">
        <div class="title-container">
            <h2>Projects</h2>
            <h3>Hackshow Winner</h3>
        </div>   
        <div class={`cards-container ${isSingleProject ? 'single' : ''}`}>
            {PROJECTS.map(project => (
                <CardProject classList={['card-project', 'project-element']} {...project} />
            ))}
        </div>
        <div class="colaboration-container">
            <h3>Other projects</h3>
            <div class="cards-container colaborate">
                {PROJECTSC.map(project => (
                    <OtherProject classlist={['card-project', 'project-element']} {...project} />
                ))}
            </div>
        </div>
    </div>
</section>



<style>
    .projects-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #13151a;
        max-width: 1100px;
        margin: 0 auto 50px;
    }

    .projects-container {
        width: 90%;
        max-width: 1900px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    h2 {
        font-size: 2.5rem;
        padding: 5px 0;
        display: inline-block;
        position: relative;
        color: #fff;
    }

    h2::before {
        content: '';
        position: absolute;
        bottom: 0.80px; 
        left: 0;
        width: 20%; 
        border-bottom: 4px solid #eb6904; 
        white-space: nowrap; 
    }

    h3 {
        color: #eb6904;
        font-size: 1rem;
    }

    .cards-container {
        width: 100%;
        max-width: 1100px;
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        justify-items: center;
        gap: 30px 20px;
    }

    .colaboration-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 5px 20px 5px;
    }

    .colaboration-container h3{
        padding: 0 0 40px 0;
    }

    body.open .projects-section, body.open .cards-container {
        display: none;
    }

    body.open h2, body.open h3  {
        display: none;
   }

    @media(min-width: 950px){
        .cards-container {
            grid-template-columns: 1fr 1fr;
            justify-content: center;
        }

        .cards-container.single {
            grid-template-columns: 1fr;
            justify-items: center;
        }

        h3{
            font-size: 1.3rem;
        }

        .colaborate{
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            justify-content: center;
        }

    }
</style>