---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/sections/Hero.astro';
import About from '@/components/sections/About.astro';
import Projects from '@/components/sections/Projects.astro';
import Experience from '@/components/sections/Experience.astro';
import Technologies from '@/components/sections/Technologies.astro';
import Contact from '@/components/sections/Contact.astro';
---

<Layout title="Fran Pazos | Software Developer"
description="This is a space designed to display my projects, my skills and a little bit about me.">
	<main>
		<Hero />
		<Experience />
		<Technologies />
		<Projects />
		<About />
		<Contact />
	</main>
</Layout>

