---
import Github from "@/components/icons/Github.astro"
import Linkedin from "@/components/icons/Linkedin.astro"

const { class: className, ...rest } = Astro.props;
--- 

<div id="desktop" class:list={['social-buttons', className]} {...rest}>
    <a href="https://github.com/franpazos" target="_blank"><Github /></a>
    <a href="https://www.linkedin.com/in/franpazos/" target="_blank"><Linkedin /></a>
</div>
<div id="mobile" class:list={['social-buttons', className]} {...rest}>
    <a href="http://github.com/franpazos" target="_blank"><img src="/icons/BiGithub.svg" alt="Github icon"></a>
    <a href="http://linkedin.com/in/franpazos" target="_blank"><img src="/icons/CibLinkedin.svg" alt="LinkedIn icon"></a>
</div>

<style>

  @media (min-width: 768px) {

  #desktop {
    display: block;
  }
  #mobile {
    display: none;
  }
  .social-buttons {
    display: flex;
    gap: 30px;
    padding: 20px;
    position: relative;
    z-index: 3;
  }

  .social-buttons a {
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    width: 30px;
    height: 40px;
    color: #000;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 15px;
  }
  .social-buttons a::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: linear-gradient(225deg, #eb6904 0%, #ebb504 50%, #eb6904 100%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in;
  }

  .social-buttons a:hover::before{
    transform: scale(0); 
  }
}

  @media(max-width:768px){

    #desktop {
      display: none;
    }
    #mobile {
      display: block;
    }

    .social-buttons img {
      width: 38px;
      height: 50px;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 15px;
    }

    .social-buttons img:hover {
      transform: scale(1.1);
    }

  }

</style>
